.certificates-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 138px;
  width: 90%;
  color: #fff;
  margin: auto;
}

.certificate-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 33px;
  width: 60%;
}

.section-title {
  color: #fff;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.certificates-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  height: fit-content;
}
.certificate-card {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #141f25;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-family: 'nf-l', sans-serif !important;
}
.certificateimg-container {
  width: 63px;
  height: 51px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  background: rgba(204, 245, 255, 0.1);
  box-sizing: border-box;
}
.certificateimg {
  width: 30px;
  height: 26px;
}
.certificate-right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.certificate-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  direction: rtl;
}
.certificate-congrats {
  color: #fff;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.certificate-program {
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 80%;
}
.certificate-id {
  color: #ccf5ff;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.certificate-actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  
}
.linkedinicon-container {
  width: 32px;
  height: 33px;
  border-radius: 4px;
  background: #ccf5ff;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}
.linkedinicon {
  width: 19px;
  height: 19px;
}

.download-button {
  border-radius: 4px;
  background: #ccf5ff;
  color: #141f25;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 33px;
  font-family: 'nf-l', sans-serif !important;
  width: fit-content;

}

.linkedin-button:hover,
.download-button:hover {
  opacity: 0.9;
}
@media (max-width:1800px) {
  .certificate-section {
    width: 70%;
  }
}
@media (max-width:1690px) {
  .certificate-section {
    width: 80%;
  }
}
@media (max-width:1280px) {
  .certificate-section {
    width: 100%;
  }
  .certificate-card {
    width: 100%;
  }
  .certificate-right {
    width: 50%;
  }
  .certificate-info {
    width: 100%;
  }
  .certificate-program {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .certificate-card {
    flex-direction: column;
    height: fit-content;
    width: 45%;
    gap: 20px;
    padding: 40px 15px;
  }
  .certificateimg-container {
    display: none;
  }
  .certificate-right {
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid #5B767C;
  }
  .certificate-info {
    width: fit-content;
    align-items: center;
  }
  .certificate-program {
    width: 70%;
    text-align: center;
  }
  .certificate-actions {
    width: 100%;
    gap: 10px;
  }
}
@media(max-width:720px) {
  .certificates-list {
    align-items: center;

  }
  .certificate-card {
    width: 80%;
    padding: 30px 10px;
  }
  .certificate-program {
    width: 90%;
  }
  .download-button {
    padding: 8px 0;
    width: 40%;
    text-align: center;
    font-size: 10px;
  }
}
