.student-platform-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.student-right-bottom-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.student-right-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Student Card */
.student-info-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 660px;
  height: 225px;
  flex-shrink: 0;
  font-style: normal;
  line-height: normal;
  text-align: right;
  padding: 20px;
  direction: rtl;
}
.student-info {
  width: 100%;
}
.student-info-card .name {
  color: #ccf5ff;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.student-info-card .course-name {
  color: #ccf5ff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

.student-info-card .student-details-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  direction: rtl;
  margin-top: 0;
  margin-bottom: 8px;
  direction: rtl;
}

.details-list {
  list-style: none;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.details-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.eye {
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.apps {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

/* App Card */
.app-card {
  width: 138px;
  height: 175px;
  padding: 9px 14px 14px 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  line-height: normal;
  font-style: normal;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  align-self: stretch;
}

.app-icon {
  width: 51px;
  height: 51px;
}

.app-name {
  color: #b1bafe;
}

.app-desc {
  color: #fff;
}

.app-button {
  display: flex;
  padding: 3px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 16px;
  border-radius: 6px;
  background: #ccf5ff;
  border: none;
  cursor: pointer;
  font-family: "nf-l";
}

.app-button:hover {
  background: #ccf5ffa2;
}

/* pdfs Card */
.pdfs-card {
  width: 285px;
  height: 366px;
  padding-top: 23px;
  padding-right: 20.38;
  padding-left: 33px;
  text-align: right;
  font-style: normal;
  line-height: normal;
  direction: rtl;
}

.pdf-card-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
}

.pdfs-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.pdf-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  height: 43.6px;
  cursor: pointer;
}

.pdf-icon {
  width: 43.624px;
  height: 43.624px;
}
.pdf-name {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Calendar Card */
.calendar-card {
  height: 584px;
  width: 294px;
  padding-left: 30px;
  padding-top: 24px;
  padding-right: 30px;
}

/* Left Container  */
.student-left-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Schedule Card */
.schedule-card {
  width: 466px;
  height: 516px;
  padding-top: 62px;
  padding-left: 82px;
  padding-right: 82px;
  padding-bottom: 20px;
  text-align: right;
  font-style: normal;
  line-height: normal;

}

.schedule-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 47px;
}

.lecture-types {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 50px;
  height: 18px;
  margin-bottom: 40px;
}

.lecture-type {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #ababab;
  text-align: right;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.lecture-type.active {
  color: #ccf5ff;
  font-weight: bold;
}

.dashboard-lecture-list-container {
  height: 375px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.dashboard-lecture-list-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.dashboard-lecture-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.dashboard-lecture-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.lecture-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.lecture-icon {
  width: 46px;
  height: 46px;
}

.lecture-details {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: right;
}

.lecture-order {
  font-size: 14px;
  font-weight: 500;
}

.lecture-course {
  font-size: 16px;
  font-weight: 600;
}

.course-name {
  font-size: 12px;
  color: #555;
  margin-left: 8px;
}

.lecture-button {
  background-color: #ccf5ff;
  color: #000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: fit-content;
  font-family: "nf-l";
}

.lecture-button:hover {
  background-color: #ccf5ffa2;
}

.support-card {
  width: 607px;
  height: 270px;
  display: flex;
  justify-content: flex-end;
  padding-right: 23px;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  font-style: normal;
  text-align: right;
}

.support-image {
  width: 326.3px;
  height: 231px;
  transform: rotate(-0.355deg);
  flex-shrink: 0;
  border-radius: 8px;
}

.support-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 260px;
}

.support-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.support-desc {
  width: 241px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.support-buttons-container {
  margin-top: 34px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.support-button {
  width: 126px;
  height: 30px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  background: #ccf5ff;
  border: none;
  cursor: pointer;
  font-family: "nf-l";
}

.support-button:hover {
  background: #ccf5ffa2;
}
