.student-platform-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 86.3%;
  margin: auto;
  height: fit-content;
  padding-bottom: 20px;
}
.student-right-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.student-right-bottom-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

/* Student Card */
.student-info-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* width: 717px; */
  width: 100%;
  height: 225px;
  flex-shrink: 0;
  font-style: normal;
  line-height: normal;
  text-align: right;
  padding: 20px;
  direction: rtl;
  box-sizing: border-box;
}
.student-info {
  width: 100%;
}
.student-info-card .name {
  color: #ccf5ff;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.student-info-card .course-name {
  color: #ccf5ff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.student-info-card .student-details-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  direction: rtl;
  margin-top: 0;
  margin-bottom: 8px;
  direction: rtl;
}
.details-title {
  color: #FFF;
text-align: right;
font-size: 20px;
margin-bottom: 10px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.details-list {
  list-style: none;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.details-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.eye {
  width: 18px;
  height: 12px;
  cursor: pointer;
}

.apps {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  width: 100%;
}

.general-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
/* App Card */
.app-card {
  width: 90%;
  height: 175px;
  padding: 9px 14px 14px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  line-height: normal;
  font-style: normal;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  align-self: stretch;
}

.app-icon {
  width: 51px;
  height: 51px;
}

.app-name {
  color: #b1bafe;
}

.app-desc {
  color: #fff;
  width: 100px;
}

.app-button {
  padding: 3px 20px;
  color: #000;
  font-size: 16px;
  border-radius: 6px;
  background: #ccf5ff;
  border: none;
  cursor: pointer;
  font-family: "nf-l";
  width: 90%;
}

.app-button:hover {
  background: #ccf5ffa2;
}

/* pdfs Card */
.pdfs-card {
  width: 100%;
  height: fit-content;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-right: 20.38px;
  padding-left: 33px;
  text-align: right;
  font-style: normal;
  line-height: normal;
  direction: rtl;
  box-sizing: border-box;
}

.pdf-card-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
}

.pdfs-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-top: 24px;
}

.pdf-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  height: 43.6px;
  cursor: pointer;
}

.pdf-icon {
  width: 43.624px;
  height: 43.624px;
}
.pdf-name {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Calendar Card */
.calendar-card {
  height: 610px;
  width: 100%;
  padding:20px;
  box-sizing: border-box;
}

/* Left Container  */
.student-left-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Schedule Card */
.schedule-card {
  width: 466px;
  height: 516px;
  padding-top: 62px;
  padding-left: 82px;
  padding-right: 40px;
  padding-bottom: 20px;
  text-align: right;
  font-style: normal;
  line-height: normal;
  /* box-sizing: border-box; */
}

.schedule-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 47px;
}

.lecture-types {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 50px;
  height: 18px;
  margin-bottom: 40px;
}

.lecture-type {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #ababab;
  text-align: right;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.lecture-type.active {
  color: #ccf5ff;
  font-weight: bold;
}

.dashboard-lecture-list-container {
  height: 375px;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.dashboard-lecture-list-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.dashboard-lecture-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.dashboard-lecture-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 14px;
}

.lecture-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.lecture-icon {
  width: 46px;
  height: 46px;
}

.lecture-details {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: right;
}

.lecture-order {
  font-size: 14px;
  font-weight: 500;
}

.lecture-course {
  font-size: 16px;
  font-weight: 600;
}

.course-name {
  font-size: 12px;
  color: #555;
  margin-left: 8px;
}

.lecture-button {
  background-color: #ccf5ff;
  color: #000;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: fit-content;
  font-family: "nf-l";
}

.lecture-button:hover {
  background-color: #ccf5ffa2;
}

.support-card {
  width: 100%;
  height: 235px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  font-style: normal;
  text-align: right;
  box-sizing: border-box;
}

.support-image {
  width: 326.3px;
  height: 231px;
  transform: rotate(-0.355deg);
  flex-shrink: 0;
  border-radius: 8px;
}

.support-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 260px;
}

.support-title {
  color: #ccf5ff;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
}

.support-desc {
  width: 241px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.support-buttons-container {
  margin-top: 34px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
}

.support-button {
  width: 126px;
  height: 30px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
  background: #ccf5ff;
  border: none;
  cursor: pointer;
  font-family: "nf-l";
}

.support-button:hover {
  background: #ccf5ffa2;
}
@media (max-width: 1860px) {
  .student-platform-container {
    width: 95%;
  }
  .app-button {
    padding: 3px 10px;
    width: 100%;
  }
  .app-name {
    font-size: 10px;
  }
}
@media (max-width: 1440px) {
  .student-platform-container {
    width: 70%;
    gap: 15px;
  }
  .student-right-container {
    gap: 15px;
  }
  .student-right-bottom-container {
    gap: 15px;
  }
  .student-info-card {
    /* width: 620px; */
    height: 228px;
  }
  .general-info {
    gap: 15px;
  }
  .app-card {
    /* width: 110px; */
    height: 188px;
    font-size: 12px;
  }
  .app-button {
    font-size: 12px;
    width: 80%;
    padding: 7px 10px;
  }
  .pdf-name {
    font-size: 14px;
  }
  .calendar-card {
    /* width: 260px; */
  }
  .student-left-container {
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .schedule-card {
    /* width: 400px; */
    height: 510px;
    padding-top: 62px;
    padding-left: 62px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .support-card {
    /* width: 470px; */
    height: 250px;
  }
}

@media (max-width: 1320px) {
  .student-platform-container {
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 25px;
    width: 100%;
  }
  .student-right-container {
    /* width: 690px; */
    width: 90%;
    gap: 25px;
  }
  .student-info-card {
    /* width: 690px; */
    padding: 40px;
  }
  .student-right-bottom-container {
    /* width: 690px; */
    gap: 25px;
  }
  .student-left-container {
    gap: 25px;
    width: 90%;
  }
  .schedule-card {
    width: 86%;
  }
  .lecture-types {
    /* width: 600px; */
    justify-content: space-around;
    margin-left: auto;
  }
  .calendar-card {
    height: 620px;
  }
}

@media (max-width: 780px) {
  /* Tablet View */
  .student-platform-container {
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 25px;
    width: 100%;
  }
  .student-right-container {
    /* width: 690px; */
    width: 90%;
    gap: 25px;
  }
  .student-info-card {
    /* width: 690px; */
    padding: 40px;
  }
  .student-right-bottom-container {
    /* width: 690px; */
    gap: 25px;
  }
  .student-left-container {
    gap: 25px;
    width: 90%;
  }
  .schedule-card {
    width: 86%;
  }
  .lecture-types {
    /* width: 600px; */
    justify-content: space-around;
    margin-left: auto;
  }
}
@media (max-width: 580px) {
  .student-right-bottom-container {
    flex-direction: column;
    gap: 25px;
  }
  .schedule-card {
    padding: 20px;
  }
  .dashboard-lecture-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
  }
  .lecture-type {
    width: 120px;
    height: fit-content;
    padding: 9px 14px;
    border-radius: 4px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  .lecture-type.active {
    background: #CCF5FF;
    color: #141F25;
  }
  .general-info {
    gap: 25px;
  }
  .apps {
    gap: 20px;
  }
  .app-card {
    font-size: 14px;
    height: 200px;
  }
  .app-desc {
    width: 120px;
  }
  .app-button {
    font-size: 14px;
  }
  .pdf-name {
    font-size: 16px;
  }
  .schedule-card {
    width: 90%;
    height: fit-content;
  }
  .dashboard-lecture-list {
    width: 100%;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .lecture-types {
    width: 100%;
    justify-content: flex-start;
    gap: 15px;
  }
  
  .support-card {
    /* width: 340px; */
    padding-right: 20px;
  }
}
