.notification-wrapper {
  position: relative;
}

.navbar-notification-dropdown {
  position: absolute;
  top: 60px; /* Adjust based on the icon size */
  right: 0;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  border-top-right-radius: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  padding: 10px;
  color: black;
  font-family: "nf-l", sans-serif !important;
}

.navbar-notification-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
}

.navbar-notification-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
  border-bottom: 1px solid #F6F7F8;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.navbar-notification-item:hover {
  background-color: #f9f9f9;
}

.navbar-notification-item.unread {
  font-weight: bold;
}

.navbar-notification-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  flex-grow: 1;
  text-align: right;
}

.navbar-notification-title {
  margin: 0;
  font-size: 14px;
}

.navbar-notification-date {
  margin: 5px 0 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.50);
}

.navbar-notification-details {
  color: black;
  font-size: 12px;
  cursor: pointer;
}

.no-notifications {
  text-align: center;
  padding: 15px;
  color: black;
}

.view-all-notifications {
  width: 80%;
  padding: 10px;
  background-color: #316F7D;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 10px;
  font-family: "nf-l", sans-serif !important;
}

.view-all-notifications:hover {
  background-color: #316f7da6;
}
/* Navbar Container */
.navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 18px 88px;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px 0px rgba(57, 65, 72, 0.12);
  background-color: #141f25;
  position: relative;
  z-index: 100;
}

/* Acadima Logo */
.AcadimaLogo {
  width: 180px;
  height: 70px;
  flex-shrink: 0;
}

/* Navbar Left Section */
.navbar-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;
  gap: 24px;
}

/* Language Toggle */
.language-toggle {
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

/* Notification Icon */
.activeNotif {
  width: 24px;
  height: 27px;
  flex-shrink: 0;
}

/* Vertical Separator */
.nav-separator {
  height: 66px;
  color: #bdbdbd;
  border-left: 1px solid #ccc;
}

/* User Avatar */
.user-logo {
  width: 59px;
  height: 59px;
  border-radius: 50%;
}

/* User Info */
.navbar-p {
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.student-name {
  color: #ffffff;
  margin-bottom: 4px;
}

.student-code {
  color: #ffffff;
  margin-top: 4px;
}

/* Hamburger Menu */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 20px;
}

.line {
  background-color: #fff;
  height: 3px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}

/* Responsive Menu Toggle */
/* .navbar-left {
  transition: all 0.3s ease-in-out;
}

.navbar-left.open {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

@media (max-width: 1440px) {
  .navbar {
    padding: 18px 80px;
  }
}

@media (max-width: 1000px) { /* Tablet View */
  .navbar {
    padding: 24px 40px;
    flex-direction: row;
    position: relative;
  }

  .AcadimaLogo {
    width: 130px;
    height: 50px;
  }

  
  .hamburger {
    display: flex;
  }
  .navbar-left {
    display: none;

  }
}

@media (max-width: 360px) { /* Mobile View */
  .navbar {
    height: auto;
    padding: 16px 30px;
    }

  .AcadimaLogo {
    width: 120px;
    height: 45px;
    margin-bottom: 10px;
  }
}
