.admission-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  width: 90%;
  margin: auto;
  padding-top: 0;
  text-align: right;
  font-family: "nf-l", sans-serif !important;
}

.section-title {
  color: #ccf5ff;
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
}

.registered-admission {
  border-radius: 12px;
  /* padding: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 98%;
  box-sizing: border-box;
}
.applied-programs-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 80%;
  height: 140px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
.new-admission-request {
  border-radius: 12px;
  /* padding: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  box-sizing: border-box;
}

.admission-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  /* width: 690px; */
  width: 44%;
  height: 130px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #141f25;
  gap: 2%;
  padding: 16px 24px;
  box-sizing: border-box;
}

.admission-title {
  color: #ccf5ff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: fit-content;
  margin: 0;
}
.admission-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
}
.admission-subtitle {
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 300px;
}

.admission-status {
  color: #ccf5ff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.admission-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 25%;
}
.payment-p {
  margin: 0;
  padding: 10px 5px;
  /* width: 100px; */
  width: 100%;
  height: fit-content;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #599faf;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  font-family: "nf-l", sans-serif !important;
  box-sizing: border-box;
}

.go-to-program-button {
  height: fit-content;
  padding: 10px 5px;
  align-self: stretch;
  border-radius: 6px;
  background: #599faf;
  border: 1px solid #599faf;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  font-family: "nf-l", sans-serif !important;
  width: 100%;
  box-sizing: border-box;
}

.admission-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: fit-content;
  padding: 27px 23px;
  align-items: flex-end;
  border-radius: 8px;
  background: #141f25;
  box-sizing: border-box;
}

.form-label {
  color: #ccf5ff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  direction: rtl;
}

.custom-dropdown {
  position: relative;
  background-color: #f6f7f8;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 16px;
  width: 60%;
}

.dropdown-header {
  color: #141f25;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dropdown-header::after {
  content: "▼";
  color: #000;
  position: absolute;
  right: 95%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
}
.dropdown-list {
  position: absolute;
  left: 0%;
  background-color: #f6f7f8;
  border-radius: 6px;
  width: 100%;
  margin-top: 8px;
  z-index: 10;
  padding: 0;
  list-style: none;
  max-height: 120px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.form-checkbox-group {
  direction: rtl;
  gap: 8px;
  width: 98%;
  display: flex;
}

.form-checkbox-group label {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Style the checkbox */
input[type="checkbox"] {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none;
  min-width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #141f25;
  cursor: pointer;
  position: relative;
}

/* Checked state */
input[type="checkbox"]:checked {
  background-color: #5bc0de; /* Change background color when checked */
}

/* Add a checkmark on the checkbox */
input[type="checkbox"]:checked::before {
  content: "✔"; /* Unicode checkmark */
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  left: 4px;
}

.form-submit-button {
  display: flex;
  width: 15%;
  height: 36px;
  padding: 8px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #599faf;
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  font-family: "nf-l", sans-serif !important;
}

.form-submit-button:hover:not(:disabled) {
  background-color: #31a3c0;
}
.form-submit-button:disabled {
  cursor: not-allowed;
}
@media (max-width: 1700px) {
  .admission-actions {
    width: 30%;
  }
  .applied-programs-list {
    width: 90%;
  }
  .admission-card {
    width: 50%;
  }
}
@media (max-width: 1510px) {
  .admission-card {
    flex-direction: column;
    height: 224px;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .admission-details {
    justify-content: center;
    align-items: center;
  }
  .admission-subtitle {
    text-align: center;
  }
  .admission-actions {
    flex-direction: row;
    width: 80%;
  }
  .applied-programs-list {
    height: 240px;
    width: 100%;
  }
  .custom-dropdown {
    width: 80%;
  }
  .new-admission-request {
    width: 98%;
  }
}
@media (max-width: 1221px) {
  .admission-actions {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .new-admission-request {
    width: 95%;
  }
  .admission-card {
    width: 70%;
  }
  .admission-actions {
    width: 70%;
  }
  .applied-programs-list {
    width: 95%;
  }
}
@media (max-width: 690px) {
  .admission-actions {
    width: 98%;
  }
  .custom-dropdown {
    width: 90%;
  }
  .admission-subtitle {
    width: 240px;
  }
}
@media (max-width: 580px) {
  .admission-container {
    padding: 20px;
  }
  .new-admission-request {
    height: fit-content;
    width: 100%;
  }
  .admission-form {
    padding: 10px;
    width: 100%;
  }
  .admission-card {
    width: 93%;
    padding: 10px;
  }
  .admission-actions {
    width: 100%;
  }
  
}
