.settings-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    direction: rtl;
    margin-right: 60px;
    margin-left: auto;
    margin-top: 70px;
    gap:40px;
    height: fit-content;
    padding-bottom: 50px;
}


.settings-content {
    width: 990px;
    /* margin-left: auto; */
    color: #fff;
    height: fit-content;
  }