.consultation-form-container {
  width: 100%;
  font-family: "nf-l", sans-serif !important;
  padding: 20px 0;
}

.consultation-form-header {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.consultant-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.consultant-user-info p {
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  text-transform: capitalize;
}

.consultation-form {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 1000px;
}

.consultation-form input,
.consultation-form select,
.consultation-form button {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  border: 2px solid #141f25;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: right;
  background: #000;
  color: white;
  direction: rtl;
  padding-left: 20px;
}

/* .consultation-form option {
  width: 100%;
} */

.selected-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 60%;
}
.selected-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.selected-item span {
  width: fit-content;
  color: #ffffff;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.selected-item button{
  width: 20%;
  padding: 10px 30px;
  text-align: center;
  background-color: #CCF5FF; 
  color: #000;
  border: none;
}
.consultation-form .submit-button {
  background-color: #CCF5FF; 
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-family: "nf-l", sans-serif !important;
}

.consultation-form .submit-button:hover {
  background-color: #ccf5ff77;
}

@media(max-width:1440px) {
  .consultation-form-header {
    width: 80%;
  }
  .consultation-form {
    width: 80%;
  }
}

@media(max-width:1000px) {
  .consultation-form-header {
    width: 90%;
  }
  .consultation-form {
    width: 90%;
  }
  .consultation-form input, 
  .consultation-form select, 
  .consultation-form button {
    width: 80%;
  }
  .selected-items {
    width: 80%;
  }
  .selected-item button {
    width: 20%;
  }
}

@media(max-width:800px) {
  .consultation-form-header .student-name {
    display: none;
  }
  .consultation-form input, 
  .consultation-form select, 
  .consultation-form button {
    width: 100%;
  }
  .selected-items {
    width: 100%;
  }
  .selected-item button {
    width: 20%;
  }
}